@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Press+Start+2P&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Jost", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  font-size: 62.5%;
}

:root {
  --orange-500: hsl(37, 98%, 54%);
  --white-200: hsl(0, 0%, 99%);
  --white-300: hsl(0, 0%, 95%);
  --grey-blue-300: hsl(203, 28%, 79%);
  --grey-blue-500: hsl(203, 22%, 55%);
  --grey-blue-600: hsl(205, 37%, 55%);
  --grey-blue-800: hsl(205, 30%, 27%);
  --grey-blue-900: hsl(206, 45%, 15%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --peach: #e7816b;
  --black: #1d1c1e;
  --white: #ffffff;
  --light-peach: #ffad9b;
  --light-peach-19: rgba(255, 172, 153, 0.19);
  --dark-grey: #333136;
  --light-grey: #f1f3f5;
}

body {
  font-family: "Nova Square", cursive;
  min-width: 37.5rem;
  display: grid;
  grid-template-columns: minmax(2.4rem, 1fr) minmax(32.7rem, 111.1rem) minmax(2.4rem, 1fr);
}
@media screen and (min-width: 768px) {
  body {
    grid-template-columns: minmax(5.7rem, 1fr) minmax(32.7rem, 111.1rem) minmax(5.7rem, 1fr);
  }
}

body.light {
  background: var(--white-300);
}

main {
  margin: 0 auto;
  max-width: 144rem;
  grid-column: 2/3;
  background: white;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #8ce8ff;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00252e;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #080052;
}

.nav-bar-header {
  margin: 3.5rem 2.4rem;
  background: var(--white);
  max-width: 111rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  grid-column: 2/3;
}
@media screen and (min-width: 768px) {
  .nav-bar-header {
    position: static;
    padding: 0 clamp(0.1rem, 0.2143rem + -0.1488vw, 0rem);
  }
}
.nav-bar-header .logo-container {
  height: 6rem;
  z-index: 5;
}
.nav-bar-header .logo-container img {
  width: 100%;
}
.nav-bar-header .hamburger-lines-container {
  z-index: 5;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 2.4rem;
  cursor: pointer;
}
.nav-bar-header .hamburger-lines-container .hamburger-line {
  width: 2.4rem;
  height: 0.4rem;
  margin: 2px;
  background: var(--black);
  transform-origin: center;
  transition: 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .nav-bar-header .hamburger-lines-container {
    display: none;
  }
}
.nav-bar-header .hamburger-lines-container .hamburger-line-rotate-left.active {
  transform: rotate(45deg) translate(0.6rem, 0.6rem);
}
.nav-bar-header .hamburger-lines-container .hamburger-line-center.active {
  opacity: 0;
  transform: scale(0, 0);
}
.nav-bar-header .hamburger-lines-container .hamburger-line-rotate-right.active {
  transform: rotate(-45deg) translate(0.5rem, -0.6rem);
}
.nav-bar-header .page-navigation {
  position: absolute;
  top: 245%;
  width: 100%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column;
  background: var(--black);
  padding: 4.8rem 2.4rem;
  transform: scale(0, 0);
  transform-origin: top;
  transition: 250ms ease-in-out;
  z-index: 5;
}
@media screen and (min-width: 768px) {
  .nav-bar-header .page-navigation {
    transform: scale(1, 1);
    background: none;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    width: 30rem;
    height: 2.7rem;
    padding: 0;
    position: static;
  }
}
.nav-bar-header .page-navigation a {
  color: var(--white);
  text-decoration: none;
  font-size: 2.4rem;
  cursor: pointer;
}
.nav-bar-header .page-navigation a:nth-child(1), .nav-bar-header .page-navigation a:nth-child(2) {
  margin-bottom: 3.2rem;
}
.nav-bar-header .page-navigation a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .nav-bar-header .page-navigation a {
    color: var(--black);
    font-size: 2.4rem;
  }
  .nav-bar-header .page-navigation a:nth-child(1), .nav-bar-header .page-navigation a:nth-child(2) {
    margin-bottom: 0rem;
  }
  .nav-bar-header .page-navigation a:nth-of-type(3) {
    margin-right: 1rem;
  }
}
.nav-bar-header .overlay {
  transform: scale(0, 0);
  transform-origin: top;
  transition: 250ms ease-in-out;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0rem;
  left: 0;
  z-index: 1;
  background: var(--dark-grey);
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .nav-bar-header .overlay {
    display: none;
  }
}
.nav-bar-header .show {
  transform: scale(1, 1);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}
.home .hero-info {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}
@media screen and (min-width: 1111px) {
  .home .hero-info {
    font-size: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .home {
    flex-direction: row;
  }
  .home div img {
    height: 400px;
    transform: rotate(-20deg);
  }
}
@media screen and (min-width: 768px) and (min-width: 768px) {
  .home .hero-info p:nth-of-type(1) {
    margin-left: -28rem;
  }
  .home .hero-info p:nth-of-type(2) {
    margin-left: -25rem;
  }
  .home .hero-info p:nth-of-type(3) {
    margin-left: -10rem;
  }
  .home .hero-info p:nth-of-type(4) {
    margin-left: -5rem;
  }
  .home .hero-info p:nth-of-type(5) {
    margin-left: -5rem;
  }
}
.home .Button {
  padding: 1.5rem 2rem;
  border-radius: 1.4rem;
  text-decoration: none;
  color: white;
}
.home .Button.why {
  background: red;
}
.home .Button.view {
  background: var(--peach);
}

footer {
  overflow: hidden;
  max-width: 111rem;
}
footer .wave {
  width: 100%;
}
footer .footer-info-container {
  margin-top: -0.25rem;
  padding: 0rem 5rem;
  padding-bottom: 5rem;
  background: #00252e;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer-info-container img {
  height: 2.5rem;
}

.why-apply {
  position: relative;
}
.why-apply .man-in-hat {
  height: 8rem;
  position: absolute;
  right: 3rem;
  bottom: -4rem;
}
.why-apply .info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.why-apply h1 {
  font-size: 2.5rem;
  margin-bottom: 10rem;
}
@media screen and (min-width: 768px) {
  .why-apply h1 {
    font-size: 5rem;
  }
}
.why-apply p {
  font-family: "Atkinson Hyperlegible", sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0.21rem;
  line-height: 3rem;
  margin-bottom: 5rem;
}
@media screen and (min-width: 768px) {
  .why-apply p {
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 768px) {
  .why-apply {
    position: relative;
  }
  .why-apply .man-in-hat {
    display: block;
    height: 14rem;
    position: absolute;
    right: 0rem;
    top: 0;
  }
}

.projects {
  display: grid;
  place-items: center;
}

.project-hero-section {
  max-width: 76.8rem;
  width: 100%;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 768px) {
  .project-hero-section {
    background: #eff7fa;
  }
}
.project-hero-section h1 {
  font-size: 2.4rem;
}
.project-hero-section button {
  border: none;
  background: none;
  cursor: pointer;
}

.project-card {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
.project-card .project-card-info {
  width: 32rem;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.9rem;
}
.project-card .project-card-info h2 {
  font-size: 2.1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}
.project-card .project-card-info p {
  margin-bottom: 0.9rem;
  text-align: left;
}
.project-card .project-card-info a:nth-of-type(1) {
  line-height: 3rem;
}

.quick-link {
  height: 3rem;
  margin: 1rem;
  cursor: pointer;
}

.hide {
  display: none;
}

.visiable {
  visibility: visible;
}

.hidden-visiblity {
  visibility: hidden;
}

section {
  margin-bottom: 1rem;
}

/*# sourceMappingURL=master.css.map */
