@use "../helper/_mixins" as *;
@use "./_variables" as *;
@use "./_typography" as *;

body {
  font-family: "Nova Square", cursive;

  // background: var(--grey-blue-900);
  background: #00252e;
  min-width: 37.5rem;
  display: grid;
  grid-template-columns: minmax(2.4rem, 1fr) minmax(32.7rem, 111.1rem) minmax(
      2.4rem,
      1fr
    );
  @include breakpoint(tablet) {
    grid-template-columns: minmax(5.7rem, 1fr) minmax(32.7rem, 111.1rem) minmax(
        5.7rem,
        1fr
      );
  }

  // grid-template-rows: repeat(auto-fill, 1fr);
}
body.light {
  background: var(--white-300);
}
main {
  margin: 0 auto;
  max-width: 144rem;
  grid-column: 2/3;
  // background-color: var(--grey-blue-300);
  background: white;
  border-radius: 1.4rem;
}

//testing scrollbar styling

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #8ce8ff;
  border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #054252;
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(8, 0, 82);
}
