:root {
  --orange-500: hsl(37, 98%, 54%);
  --white-200: hsl(0, 0%, 99%);
  --white-300: hsl(0, 0%, 95%);
  --grey-blue-300: hsl(203, 28%, 79%);
  --grey-blue-500: hsl(203, 22%, 55%);
  --grey-blue-600: hsl(205, 37%, 55%);
  --grey-blue-800: hsl(205, 30%, 27%);
  --grey-blue-900: hsl(206, 45%, 15%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  //PRIMARY COLORS

  --peach: #e7816b;

  --black: #1d1c1e;

  --white: #ffffff;

  //SECONDARY COLORS

  --light-peach: #ffad9b;

  --light-peach-19: rgba(255, 172, 153, 0.19);

  --dark-grey: #333136;

  --light-grey: #f1f3f5;
}
