@use "../helper/_mixins" as *;
@use "../base/_variables" as *;

footer {
  overflow: hidden;
  max-width: 111rem;
  grid-column: 2/3;

  .wave {
    width: 100.3%;
  }
  .footer-info-container {
    margin-top: -0.25rem;
    padding: 0rem 5rem;
    padding-bottom: 5rem;

    background: #00252e;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    img {
      height: 2.5rem;
    }
  }
}
